<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    
    
</head>

<body>
     {% if categoory  %}
    {% for element in categoory %}
    <a href="{% url 'detail-cat' id=element.id %}">
        <p>
        {{element.title}}
    </p>
</a>
    {% endfor %}
    {% else %}
        <p>Это страница пусто</p>
    {% endif %}    
    <a href="{% url 'all-products' %}">
        Все продукты
        </a>
</body>
</html>