<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
    </div>
    <h1>{{product.title}}</h1>
    
    
    <h4>
        author: {{product.author}}
    </h4>
    <h4>    
        Category:{{product.category}}
    </h4>
    <p>
        description:{{product.description}}
        
    </p> 
    
    <p>About product:{{product.content|safe}}</p>
    
    
   


    {% if product.prod_atrib.all %}
    {% for elements in product.prod_atrib.all %}

        <p>{{elements.title}}</p>
        <p>{{elements.value}}</p>    
    {% endfor %}

    {% else %}
        <p> Это страница пусто <p/>

    {% endif %}
</body>
</html>